@import url(./css/style_resets.css);
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@600;800&display=swap');

:root{

    /* Primary */

        --soft-cyan : hsl(174, 76%, 80%);
        /* (Full Slider Bar) */
        --strong-cyan : hsl(174, 86%, 45%);
        /* (Slider Backround) */
        --light-grayish-red : hsl(14, 92%, 95%);
        /* (Discount Background) */
        --light-red: hsl(15, 100%, 70%);
        /* (Discount Text) */
        --pale-blue : hsl(226, 100%, 87%);
        /* (CTA Text) */


    /* Neutral */

        --white: hsl (0, 0%, 100%);
        /* (Pricing Component Background) */
        --very-pale-blue : hsl(230, 100%, 99%);
        /* (Main Background) */
        --light-grayish-blue: #eaeefb;
        /* (Empty Slider Bar) */
        --light-grayish-blue : hsl(223, 50%, 87%);
        /* (Toggle Background) */
        --grayish-blue : hsl(225, 20%, 60%);
        /* (Text) */
        --dark-desaturated-blue : hsl(227, 35%, 25%);
        /* (Text & CTA Background) */

    /* Font Weight */
        --fw-semibold:600;
        --fw-xbold:800;
}

body{
    font-family: 'Manrope',sans-serif;
    letter-spacing: .5px;
    position: relative;
    width: 100%;
    height:100vh;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--very-pale-blue);
    
}

.bg-pattern{
    width:100%;
    height: 420px;
    position:absolute;
    top:0;
    background-image: url("./images/bg-pattern.svg");
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    border-bottom-left-radius: 50%;
    z-index: -3;
    
}

/* Font size (Introductory Paragraph): 15px  */

header,main{
    width:100%;
    height:auto;
    padding:0 1.5rem;
}

.content-text{
    width:100%;
    height:150px;
    position: relative;
    /* background-color: crimson; */
    margin-bottom:2rem;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.content-text h1{
    font-size: 1.2rem;
    margin-bottom:.5rem;
    font-weight: var(--fw-semibold);
    color:var(--dark-desaturated-blue);
}

.content-text p{
    font-size:15px;
    color:var(--grayish-blue);
    font-weight: var(--fw-semibold);
    font-size:12px;
}


img.circle-pattern{
 position: absolute;
 z-index: -2;
}

.price-component-container{
    width:100%;
    height:auto;
    position: relative;
    padding-bottom:2rem;
    background-color: #ffffff;
    border-radius:10px;
    box-shadow: 0px 15px 20px -5px rgba(66, 103, 167, 0.3);

}

.pricing{
    width:100%;
    height:auto;
    padding:2rem 1.5rem;
    text-align: center;
}

.pricing p{color:var(--grayish-blue);font-size: 12px;}

.pricing p#pageview{
    text-transform: uppercase;
    letter-spacing: 2px;
   

}

 

 .slider-container{
     width:100%;
     height:auto;
     margin:2rem 0;
 }

 .slider{
     -webkit-appearance: none;
     background:transparent;
     width:100%;
     height:8px;
     background:linear-gradient(90deg, rgb(234, 238, 251) 0%, rgb(234, 238, 251) 0%);
     outline:none;
     border-radius:12px;
 }

 .slider::-ms-track {
    width: 100%;
    cursor: pointer;
  
    /* Hides the slider so custom styles can be added */
    background: transparent; 
    border-color: transparent;
    color: transparent;
  } 

 .slider::-webkit-slider-thumb {
   -webkit-appearance: none; 
   appearance: none;
  width:40px;
  height:40px;
  position: relative;
  cursor: pointer;
  border-radius: 50%;
  background-color: var(--strong-cyan);
  background-image: url(./images/icon-slider.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 60%;
  box-shadow: 0px 10px 20px 5px var(--soft-cyan);
  }



  .month-price{
      width:100%; 
      height:auto;
      display:flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
    }

    .month-price span#price{
        font-size: 2.3rem;
        color:var(--dark-desaturated-blue);
        margin-right:8px;
    }

    .month-price p:nth-child(2){
        margin-left:15px;
        font-family: inherit;
        
    }


.billing{
        width:100%;
        height:auto;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding:0 1rem;
}

.billing p{font-size:11px; font-weight: var(--fw-semibold);color:var(--grayish-blue);}

.billing p#discount{
        background:var(--light-grayish-red);
        color:var(--light-red);
        padding:3px 8px;
        border-radius: 25px;
        margin-left:10px;

}

.billing .checkbox{
    opacity: 0;
    position: absolute;
}

.billing .label{
    width: 43px;
    height: 22px;
    display: flex;
    border-radius: 50px;
    background-color: var(--light-grayish-blue);
    position: relative;
    display: flex;
    align-items: center;
    margin:0 10px;
    padding: 5px;
    transition: background-color 0.5s ease-in;
}

.billing .label .ball{
    position: absolute;
    width: 15px;
    height: 15px;
    left: 5px;
    background-color: #fff;
    border-radius: 50%;
    transition: transform 0.5s ease;
}
.billing .checkbox:checked + .label .ball {
            transform: translateX(18px);
  }

.price-info{
    width: 100%;
    height:auto;
    display:flex;
    margin-top:3rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.price-perks{
    font-size: 15px;
    text-align: center;
}

.price-perks >*{
    font-size: 11px;
    margin:.5rem 0;
    color:var(--grayish-blue);
}
.icon-check{
    display: inline-block;
    margin-right:15px;
}

.btn{
    margin-top:1rem;
    padding:10px 40px;
    border:none;
    border-radius: 25px;
    background:var(--dark-desaturated-blue);
    color:var(--pale-blue);
    font-size: 12px;
}



